#root {
    margin: 0;
    text-align: center;
}

/* Navigation */
.navBar {
    color: rgba(161, 3, 148);
    height: 3rem;
    display: flex;
    background-color: rgba(255, 220, 50, 0.7);
}
.navigation {
    width: 30rem;
    display: flex;
    justify-content: space-around;
}
.navLink {
    text-decoration: none;
    color: rgba(161, 3, 148);
    font-weight: bolder;
}
.navBrandContainer {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}
.navBrand {
    color: rgba(161, 3, 148);
    font-family: "Cookie", cursive;
    font-size: 28px;
}

/* Home Page */
.homePage {
    height: 100vh;
    background-image: url(/assets/img/happyCake.jpg);
    background-position: center;
    background-size: cover;
    color: rgba(161, 3, 148);
}
.homePageText {
    padding-top: 15rem;
}
.homePage h1 {
    padding-bottom: 1rem;
}
.homePage h1:hover {
    cursor: default;
}
.homePage h4:hover {
    cursor: default;
}

/* Catalogue */
.carouselContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./assets/img/happyCake.jpg);
    background-position: center;
    background-size: cover;
    color: rgba(161, 3, 148);
}
.carouselContainer h3 {
    background-color: rgba(255, 220, 50, 0.85);
    border-radius: 1rem;
    color: black;
}
.carouselCaption {
    padding: 3rem;
    height: 3rem;
}
.carouselItem {
    height: 25rem;
}
.carouselImg {
    width: 50%;
    border-radius: 5rem;
}
.carousel-indicators button {
    width: 0.8rem !important;
    height: 0.8rem !important;
    border-radius: 50%;
    border: 2px solid rgba(161, 3, 148, 0.8) !important;
}
.carousel-indicators button:not(:first-child) {
    margin-left: 2rem;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: rgba(161, 3, 148, 0.8);
    border-radius: 1rem;
}

/* Contact */
.contactPage {
    padding-top: 5rem;
    color: rgba(161, 3, 148, 0.8);
}
input {
    width: 20rem;
}
.contactPage p {
    font-size: 20px;
    margin-top: 2rem;
}
.formDescription {
    height: 5rem;
}

/* Not found page */
.notFound {
    padding: 5rem;
}
.notFoundImg {
    width: 20%;
}
.notFound:hover {
    cursor: default;
}
